<div class="modal fade" id="removeModal" tabindex="-1" role="dialog" aria-labelledby="removeModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="removeModalLabel">Удалить</h4>
            </div>
            <form id="removeForm" action="@Url.Action("Remove", "Files")" method="POST">
                @Html.Hidden("removeRootId")
                @Html.Hidden("idToRemove")
                <div class="modal-body">
                    <h4>Вы действительно хотите удалить элемент?</h4>
                    <dl>
                        <dt>Имя</dt>
                        <dd id="removeNameHolder"></dd>
                    </dl>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-danger">Удалить</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                </div>
            </form>
        </div>
    </div>
</div>

