body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.body-content > footer {
    text-align: center;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
/*input,
select,
textarea {
    max-width: 280px;
}*/

/* Carousel */
.carousel-caption {
    z-index: 10 !important;
}

    .carousel-caption p {
        font-size: 20px;
        line-height: 1.4;
    }

@media (min-width: 768px) {
    .carousel-caption {
        z-index: 10 !important;
    }
}

.field-validation-error {
    color: red;
}

.file-grid > .file.card > .file-card {
    border: 1px solid white;
}

.file-grid > .file.card > .file-card:hover {
    border: 1px solid #eeeeee;
    border-radius: 5px;
}

.file-grid > .file.card > .file-card-icon {
    padding: 5px;
}

.file-grid > .file.card > .file-card-icon img {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.file-grid > .file.card > .file-card-name a
{
    display: block;
}

/*-------------file-card for list-------------------*/

.file-list > .file-card > .file-card {
    border: 1px solid white;
}

.file-list > .file-card > .file-card:hover {
    border: 1px solid #eeeeee;
    border-radius: 5px;
}

.file-list > .file-card > .file-card-icon,
.file-list > .file-card > .file-card-name,
.file-list > .file-card > .file-card-info,
.file-list > .file-card > .file-card-buttons
{
    display: table-cell;
    vertical-align: middle;
}

.file-list > .file-card > .file-card-icon {
    padding: 5px;
    width: 5%;
}

.file-list > .file-card > .file-card-name {
    width: 85%;
}

.file-list > .file-card > .file-card-info {
    white-space: nowrap;
    width: 5%;
    padding-right: 5px;
    padding-left: 5px;
}

.file-list > .file-card > .file-card-buttons {
    width: 5%;
    padding-right: 10px;
    padding-left: 5px;
}

.file-list > .file-card > .file-card-icon img {
    display: inline-block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
