@using Newtonsoft.Json
@model Ascon.Pilot.WebClient.ViewModels.SidePanelViewModel
@{
    var treeData = Model.ToDynamic();
    var serializedTreeData = JsonConvert.SerializeObject(treeData);
}

<div id="tree"></div>

<script type="text/javascript">
    window.treeData = @Html.Raw(serializedTreeData);
</script>
