@using Newtonsoft.Json
@model Ascon.Pilot.WebClient.ViewModels.SidePanelViewModel
@{
    var treeData = Model.ToDynamic();
    var serializedTreeData = JsonConvert.SerializeObject(treeData);
}
<style type="text/css">
    #overlay {
        background: black;
        height: 100%;
        left: 0;
        opacity: 0.3;
        position: absolute;
        top: 0;
        width: 100%;
    }
</style>

<div>
    <div id="tree"></div>
</div>

<div id="sidePanelProgress" class="text-center" style="display: none;">
    <i class="glyphicon glyphicon-spin glyphicon-refresh"></i>
</div>

<script type="text/javascript">
    window.treeData = @Html.Raw(serializedTreeData);
</script>
