@using System.Threading.Tasks
@model IEnumerable<Ascon.Pilot.WebClient.ViewModels.FileViewModel>

<div class="file-grid">
    @if (Model == null || !Model.Any())
    {
        <p>файлы в папке отсутствуют</p>
    }
    else
    {
        foreach (var fileModel in Model.OrderBy(x => !x.IsFolder).ThenBy(x => x.ObjectTypeId != ApplicationConst.SOURCEFOLDER_TYPEID).ThenBy(x => x.Name))
        {
            @Html.Partial(fileModel.IsFolder ? "Components/FilesPanel/_GridFolder" : "Components/FilesPanel/_GridFile", fileModel)
        }
    }
</div>