@using System.Threading.Tasks
@model IEnumerable<Ascon.Pilot.WebClient.ViewModels.FileViewModel>

<div class="file-grid">
    @if (Model == null || !Model.Any())
    {
        <p>файлы в папке отсутствуют</p>
    }
    else
    {
        foreach (var fileModel in Model)
        {
            if (fileModel.IsFolder)
            {
                @Html.Partial("Components/FilesPanel/_GridFolder", fileModel)
            }
            else
            {
                @Html.Partial("Components/FilesPanel/_GridFile", fileModel)
            }

        }
    }
</div>