@using System.Threading.Tasks
@model IEnumerable<Ascon.Pilot.WebClient.ViewModels.FileViewModel>

<style type="text/css">
    .badge-notify{
       background: #428bca;
       position:relative;
       top: -2.3em;
       left: 0.3em;
    }
</style>

<div class="file-list">
    @if (Model == null || !Model.Any())
    {
        <p>файлы в папке отсутствуют</p>
    }
    else
    {
        foreach (var fileModel in Model)
        {
            if (fileModel.IsFolder)
            {
                @await Html.PartialAsync("Components/FilesPanel/_ListFolder", fileModel)
            }
            else
            {
                @await Html.PartialAsync("Components/FilesPanel/_ListFile", fileModel)
            }
        }
    }
</div>