@model List<string>

<ol class="breadcrumb" id="breadcrumbs">
    @if (Model != null && Model.Any())
    {
        foreach (var crumb in Model)
        {
            <li>@crumb</li>
        }
    }
</ol>