@model Queue<KeyValuePair<Guid, string>>

@if (Model != null && Model.Any())
{
    while (Model.Any())
    {
        var crumb = Model.Dequeue();
        <li>
            <a href="@Url.Action("Index", "Files", new { id = crumb.Key })">@crumb.Value</a>
        </li>
    }
}