<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Переключить навигацию</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a asp-controller="Home" asp-action="Index" class="navbar-brand">
                <span title="Статус сервера" class="serverStatusIndicator connecting"></span> АСКОН Pilot-ICE
            </a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li></li>
                <li><a asp-controller="Home" asp-action="Index">Главная</a></li>
                @if (User.Identity.IsAuthenticated)
                {
                    <li><a><b>@User.Identity.Name</b></a></li>
                    <li><a asp-controller="Account" asp-action="LogOff">Выйти</a></li>
                }
                else
                {
                    <li><a asp-controller="Account" asp-action="LogIn">Авторизоваться</a></li>
                }
            </ul>
        </div>
    </div>
</div>