<div style="background-color: black; color: white; height: 50px; font-size: 30px; padding: 10px">
    <a>
        <span class="glyphicon glyphicon-menu-hamburger" id="sidePanelToggler" onclick="sidePanelToggle()"></span>
    </a>
    <a id="downloadArchiveButton" onclick="downloadArchive(this)" style="display: none; cursor: pointer">
        <span class="glyphicon glyphicon-download-alt"></span>&nbsp;Скачать&nbsp;файлы&nbsp;архивом
    </a>
</div>